<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="Viewport"
        content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
        content="ie=edge"> 
        <title>Document</title>


    </head>
   ><body>
        <h1>URL Shrinker</h1>
        <form action=" " method="POST">
            <label for ="fullUrl">URL</label>
            <input type="url" name="fullUrl">
            <button type="submit">Shrink</button>
        </form>
        <table>
            <thread>
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                    <th>Clicks</th>
                </tr>
            </thread>
        </table>
    </body>
</html>